*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Dosis", sans-serif;
  color: #212123;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  max-width: 150rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 4.2rem;
  font-weight: 300;
  line-height: 1.1;
}

.heading-secondary {
  font-weight: 300;
  font-size: 3.6rem;
  margin-bottom: 1rem;
}

.heading-tertiary {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.heading-post,
.heading-recipe {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.header-text {
  font-size: 1.8rem;
  font-weight: 200;
  width: 30rem;
}

.paragraph {
  font-size: 2rem;
}

.ml-sm {
  margin-left: 2rem;
}

.heading-center {
  text-align: center;
  color: #616063;
}

.centered {
  text-align: center;
}

.btn {
  background-color: #fff;
  outline: none;
  padding: 1rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.btn__post {
  color: #212123;
  border: 1px solid #ccb9b1;
  font-size: 1.1rem;
  position: absolute;
  bottom: 3rem;
  right: 9.5rem;
  text-decoration: none;
  font-weight: 400;
}

.btn__post:hover {
  background-color: #c08267;
  color: #f5f1ef;
}

.btn__load-more {
  background-color: #c08267;
  color: #f5f1ef;
  padding-bottom: 1.5rem;
}

.newsletter__icon {
  width: 3.5rem;
  height: 3.5rem;
  stroke: #616063;
  margin-bottom: 1rem;
}

.newsletter__input {
  border: none;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid #E8E8E8;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 200;
  color: #a3a3a3;
  margin-top: 1rem;
}

.newsletter__input:focus {
  outline: none;
  color: #616063;
}

.newsletter__mail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.newsletter__btn {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 5rem;
  bottom: 1px;
}

.error-message-title,
.error-message-image {
  display: none;
  color: red;
  font-size: 1.4rem;
}

.error-active {
  display: block;
}

.post,
.recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.5px solid #f5f1ef;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.061);
          box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.061);
  border-radius: 5px;
  overflow: hidden;
}

.post__image-box,
.recipe__image-box {
  overflow: hidden;
}

.post__img,
.recipe__img {
  width: 35rem;
  height: 52.5rem;
}

.post__description,
.recipe__description {
  text-align: center;
  padding: 5rem;
}

.post__date, .post__category,
.recipe__date,
.recipe__category {
  font-size: 1.4rem;
  font-weight: 300;
}

.post__date,
.recipe__date {
  font-style: italic;
  color: #616063;
}

.post__category,
.recipe__category {
  color: #212123;
  text-transform: capitalize;
  font-style: normal;
}

.post__desc,
.recipe__desc {
  display: block;
  margin-bottom: 2.5rem;
  font-size: 1.4rem;
  font-weight: 300;
}

.pagination {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 50rem;
  margin: 0 auto;
  font-size: 1.4rem;
  margin-bottom: 10rem;
  color: #804630;
}

.pagination__btn, .pagination__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.pagination__btn:hover, .pagination__btn:active, .pagination__number:hover, .pagination__number:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.pagination__number {
  color: #212123;
  border: none;
  border-radius: 50%;
  background-color: #f5f1ef;
  color: #804630;
  width: 3rem;
  height: 3rem;
  text-align: center;
}

.pagination__number:hover {
  background-color: #c08267;
  color: #f5f1ef;
  padding: 1rem;
}

.pagination__dots {
  font-size: 1.8rem;
  font-weight: 600;
}

.pagination__btn {
  border: none;
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 50%;
  stroke: #c08267;
}

.pagination__icon {
  width: 3rem;
  height: 3rem;
  color: #c08267;
  -webkit-box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.02);
          box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.02);
}

.active {
  background-color: #c08267;
  color: #f5f1ef;
  padding: 1rem;
}

.promo {
  max-width: 130rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  background-color: #c08267;
  margin: 0 auto;
}

.promo__book {
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 54.4rem;
}

.promo__box {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  color: #fff;
  padding: 2rem;
}

.promo__box--subtitle {
  font-size: 1.4rem;
}

.promo__box--text {
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.promo__btn {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 1rem;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1.5rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #f5f1ef;
}

.navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__list--item {
  font-size: 2.6rem;
}

.navigation__list--item:not(:last-child) {
  margin-right: 5rem;
}

.navigation__link:link, .navigation__link:visited {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  text-decoration: none;
  color: #616063;
}

.navigation__link:hover, .navigation__link:active {
  color: #212123;
}

.navigation__link:hover::after, .navigation__link:active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 50%;
  height: 0.2rem;
  background-color: #a0583c;
}

.navigation__logo {
  width: auto;
  height: 6rem;
  margin-left: 3rem;
}

.navigation__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.navigation__icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #616063;
}

.navigation__icon:hover {
  fill: #a0583c;
}

.navigation__icon__new-post {
  fill: #804630;
  color: #804630;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.btn-search {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.footer {
  height: 4rem;
  padding: 1rem;
  background-color: #f5f1ef;
  text-align: center;
}

.footer__text {
  font-size: 1.6rem;
  color: #929292;
}

.hero-container {
  background: -webkit-gradient(linear, right top, left top, from(rgba(204, 185, 177, 0.3)), to(rgba(33, 33, 35, 0.8))), url("https://ourfoodstories.com/wp-content/uploads/2021/08/Ruffino-Gathering-15-2048x1365.jpg");
  background: linear-gradient(to left, rgba(204, 185, 177, 0.3), rgba(33, 33, 35, 0.8)), url("https://ourfoodstories.com/wp-content/uploads/2021/08/Ruffino-Gathering-15-2048x1365.jpg");
  height: 75vh;
  position: relative;
  margin-bottom: 10rem;
}

.hero-container__text {
  color: #f5f1ef;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  top: 45%;
  left: 10%;
  width: 45rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.section-posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  max-width: 120rem;
  margin: 0 auto;
  row-gap: 6rem;
  -webkit-column-gap: 8rem;
          column-gap: 8rem;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.section-intro {
  text-align: center;
  margin-bottom: 10rem;
}

.section-promo {
  margin: 0 auto;
  margin-bottom: 10rem;
}

.section-newsletter {
  max-width: 90rem;
  text-align: center;
  margin: 10rem auto;
  margin-bottom: 15rem;
}

.white-space {
  height: 50rem;
}

.recipes__text {
  width: 80%;
  margin: 10rem auto;
  margin-bottom: 5rem;
}

.recipes__text--content {
  font-size: 2.4rem;
  width: 50%;
  font-weight: 300;
  margin-bottom: 3rem;
}

.filter-recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  margin-top: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-recipes__select {
  width: 20rem;
  height: 3rem;
  border: 1px solid #616063;
  color: #616063;
}

.filter-recipes__label {
  font-size: 1.8rem;
}

.load-more-button {
  margin-bottom: 10rem;
}

.post__header,
.recipe__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10rem 0;
}

.post__description, .post__recipe,
.recipe__description,
.recipe__recipe {
  width: 80%;
  max-width: 70rem;
  padding: 2rem;
  margin: 0 auto;
}

.post__description,
.recipe__description {
  height: 31.8rem;
  font-style: italic;
  letter-spacing: 1px;
  position: relative;
}

.post__gallery,
.recipe__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  row-gap: 5rem;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  width: 80%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

.post__recipe,
.recipe__recipe {
  background-color: #f5f1ef;
  padding: 5rem;
  font-weight: 200;
  margin-bottom: 10rem;
}

.recipe__description {
  height: 22rem;
}

.post-view__img {
  width: 70rem;
}

.post-view__heading {
  padding: 5rem;
}

.post-view__heading--date {
  font-size: 1.6rem;
}

.post-view__heading--subtitle {
  font-size: 2rem;
  line-height: 1.45;
  font-weight: 300;
}

.post-view__description {
  width: 80%;
  max-width: 70rem;
  padding: 2rem;
  margin: 0 auto;
}

.post-view__description__text {
  font-size: 1.8rem;
  text-indent: 2rem;
  font-weight: 300;
  margin-bottom: 10rem;
}

.post-view__gallery-img__1 {
  margin-top: 2rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  width: 100%;
}

.post-view__gallery-img__2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 100%;
}

.post-view__gallery-img__3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  width: 100%;
}

.recipe > * {
  letter-spacing: 1px;
}

.recipe__ingredients--title {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.recipe__ingredients-list {
  list-style: none;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  line-height: 1.45;
  text-indent: 1rem;
}

.recipe__ingredients-list > * {
  margin-bottom: 0.5rem;
}

.recipe__instructions {
  font-size: 1.8rem;
}

.edit-icon-container {
  display: inline-block;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: #c08267;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 10%;
  bottom: 7%;
}

.edit__icon {
  width: 3rem;
  height: 3rem;
  fill: #f5f1ef;
}

.icon__link {
  color: #f5f1ef;
  text-decoration: none;
}

.new-post {
  margin-top: 5rem;
  background-color: #f5f1ef;
  padding: 3rem;
  margin-bottom: 10rem;
  padding-bottom: 5rem;
}

.new-post-container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15rem;
  margin-top: 5rem;
}

.new-post__input-container {
  width: 50rem;
  position: relative;
}

.new-post__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50rem;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.new-post__field > * {
  font-family: inherit;
  border: none;
  outline: none;
}

.new-post__field > *:focus {
  outline: none;
}

.new-post__field--label {
  margin-bottom: 1rem;
  font-weight: 500;
  color: #804630;
}

.new-post__field--input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #f5f1ef;
}

.new-post__field--input:focus {
  outline: none;
  border-bottom: 1px solid #616063;
}

.new-post__field--select {
  padding: .5rem;
  background-color: #fff;
  color: #616063;
  border: none;
  outline: none;
  border: 1px solid #f5f1ef;
}

.new-post__field--btn {
  color: #f5f1ef;
  text-decoration: none;
  font-size: 1.4rem;
  width: 15rem;
  padding: 2rem;
  text-transform: uppercase;
  border: none;
  background-color: #c08267;
  cursor: pointer;
}

.new-post__field--textarea {
  padding: 1rem;
}

.new-post__field--add-btn, .new-post__field--delete-btn {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #804630;
  background-color: transparent;
  border: none;
}

.new-post__field--add-icon, .new-post__field--close-icon {
  width: 2rem;
  height: 2rem;
}

.new-post__field--delete-btn {
  color: #ccb9b1;
  position: absolute;
  right: .2rem;
  bottom: 1.5rem;
}

.new-post__field--delete-btn:hover {
  color: #804630;
}

.ingredients-container,
.toppings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.multiple {
  margin-bottom: 1rem;
}

.btn-submit-container {
  text-align: center;
}

.label-ingredients,
.label-toppings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */