$color-primary: #a0583c;
$color-primary-light: #c08267;
$color-primary-dark: #804630;
$color-light: #ccb9b1;
$color-text-light: #616063;
$color-text-dark: #212123;

$background-color-light: #f5f1ef;

// $background-color-light: #f0eae8;
// $background-color-light: #ebe3e0;
// $background-color-light: #dbcec8;