.new-post{
   margin-top: 5rem;
   background-color: $color-light-2;
   padding: 3rem;

   &-container{
      width: 80%;
      margin: 0 auto;
      display: flex;
      gap: 15rem;
      margin-top: 5rem;
   }

   &__field{
      display: flex;
      flex-direction: column;
      width: 50rem;
      font-size: 2rem;
      margin-bottom: 4rem;
      
      & > *{
         &:focus{
            outline: none;
         }
      }

      &--label{
         margin-bottom: 1rem;
         font-weight: 500;
         color: $color-primary-dark;
      }
      &--input{
         padding: .5rem;      
         border: 1px solid $color-text-light;
      }
      &--select{
         padding: .5rem;
         background-color: #fff;
         border: 1px solid $color-text-light;
      }
      &--btn{
         width: 30%;
         padding: 2rem;
         text-transform: uppercase;
         border: none;
         background-color: $color-primary;
         
      }
   }

}

.multiple{
   margin-bottom: 1rem;
}

.centered{
   text-align: center;
}