.recipes__text {
  width: 80%;
  margin: $section-margin auto;
  margin-bottom: 5rem;

  &--content{
    font-size: 2.4rem;
    width: 50%;
    font-weight: 300;
    margin-bottom: 3rem;
  }
}

.filter-recipes{
  display: flex;
  gap: 3rem;
  margin-top: $section-margin;
  align-items: center;
  &__select{
    width: 20rem;
    height: 3rem;
    border: 1px solid $color-text-light;
    // margin-right: 2rem;
    color: $color-text-light;
  }
  &__label{
    font-size: 1.8rem;
  }
}

.load-more-button{
  margin-bottom: $section-margin;
}