.post,
.recipe{
   display: flex;
   border: 0.5px solid $color-light-2;
   align-items: center;
   box-shadow:  0 2.4rem 4.8rem rgba(0, 0, 0, 0.061); 
   border-radius: 5px;
   overflow: hidden;
   


   &__image-box{
      overflow: hidden;
   }
   &__img{
      // max-height: 25rem;
      width: 35rem;
      height: 52.5rem;
   }
   &__description{
      // display: inline-block;
      text-align: center;
      padding: 5rem;
      
   }

   &__date,
   &__category{
      font-size: 1.4rem;
      font-weight: 300;
   }
   &__date{
      font-style: italic;
      color: $color-text-light;
   }
   &__category{
      color: $color-text-dark;
      text-transform: capitalize;
      font-style: normal;
   }
   &__desc{
      display: block;
      margin-bottom: 2.5rem;
      font-size: 1.4rem;
      font-weight: 300;
   }
}