.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid $color-light-2;

  &__list {
    list-style: none;
    display: flex;

    &--item {
      font-size: 2.6rem;
    }
    &--item:not(:last-child) {
      margin-right: 5rem;
    }
  }
  &__link:link,
  &__link:visited {
    transition: all 0.2s;
    position: relative;
    text-decoration: none;
    color: $color-text-light;
  }
  &__link:hover,
  &__link:active {
    color: $color-text-dark;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 50%;
        height: 0.2rem;
        background-color: $color-primary;
       
    }
  }
  &__logo {
    width: auto;
    height: 6rem;
    margin-left: 3rem;
  }
  &__icon-box {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: $color-text-light;

    &:hover{
       fill: $color-primary
    }

  }
  &__icon__new-post{
    fill: $color-primary-dark;
    color: $color-primary-dark;
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
  }
}

.socials {
  display: flex;
  gap: 2rem;
}

.btn-search {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
